svg{
    fill: gray;
}

.yTicks, .xTicks{
    stroke: lightgray;
}

.background{
    fill: url(#night-gradient);
}

.daylight{
    fill: url(#daylight-gradient);
}

.noon{
    stroke: lightgray;
}
.solar-noon{
    stroke: yellow;
    fill: none;
}
