svg{
    fill: gray;
}

.yTicks, .xTicks{
    stroke: lightgray;
}

.background{
/*    fill: lightyellow; */
}

.sunrise, .sunset{
/*    fill: steelblue; */
}

.noon{
    stroke: lightgray;
}
.solar-noon{
    stroke: yellow;
    fill: none;
}
