!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Sunrise, noon, and sunset

    %link{ href: "/stylesheets/styles.css", rel: "stylesheet", type: "text/css" }
    %link{ rel: "icon", type: "image/x-icon", href:"/favicon.ico" }

  %body
    = content

